
.navbar {
    background-color: #007bff;
  }
  
  .navbar-brand b {
    font-size: 1.5rem;
  }
  
  .nav-link.active {
    color: hsl(0, 94%, 7%);
  }
  

  body {
    background-color: hsl(0, 0%, 100%);
  }
  
  
  