{% extends 'base.html' %}



{% block title %}
procced_file
{% endblock %}



{% block content %}


<div class="container-fluid h-200 mt-5">

    <h1 style="text-align: center;">Processd CsvFiles</h1><br>
    <table class="table table-striped table-hover">
      
      <tr>
        <th>Input Filename</th>
        <th>Processd Filename</th>
        <th>Processd file sent to</th>
      </tr>
      
        <tr>
            {% for files in processdcsv_file %}
        <td>{{ files.csv_proccessed_file }}</td>
          <td>{{ files.file_name }}</td>
          <td>{{ files.csv_proccessed_file.email }}</td>

        </tr> 
   
        {% endfor %}


    </table>



</div>













{% endblock %}